<a href="https://colab.research.google.com/github/Sandruuuu/KKA/blob/main/Praktikum_KKA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Variabel dan Tipe Data
a. Buat 3 variabel bertipe data: int, float, str, dan list.

In [ ]:
angka_int = 5
angka_float = 2.5
kalimat_string = "Aku suka telkom"
daftar = [1,2,3,4]

Tampilkan tipe datanya dengan fungsi type().

In [ ]:
print(type(angka_int))
print(type(angka_float))
print(type(kalimat_string))
print(type(daftar))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

 Buat list belanja (beras, minyak, dan telur).

In [ ]:
list_belanja = ["Beras", "Minyak", "Telur"]

Kemudian tambahkan item gula dan kopi menggunakan
fungsi.

In [ ]:
list_belanja.append("Gula")
list_belanja.append("Kopi")
list_belanja

['Beras', 'Minyak', 'Telur', 'Gula', 'Kopi']

Tampilkan semua item dengan perulangan.

In [ ]:
for item in list_belanja:
    print(item)
print()

Beras
Minyak
Telur
Gula
Kopi

Buat dictionary harga belanjaan

In [ ]:
harga = {
    "Beras": 12000,
    "Minyak": 17000,
    "Telur": 24000,
    "Gula": 10000,
    "Kopi": 15000
}
harga

{'Beras': 12000, 'Minyak': 17000, 'Telur': 24000, 'Gula': 10000, 'Kopi': 15000}

Hitung dan tampilkan total harga semua belanjaan

In [ ]:
total = sum(harga.values())

In [ ]:
total

78000

In [ ]:
usia = int(input("Masukkan usia :"))

if 0 <= usia <= 12:
    print("Anak-anak")
elif 13 <= usia <= 19:
    print("Remaja")
elif 20 <= usia <= 49:
    print("Dewasa")
elif usia >= 50:
    print("Lansia")
else:
    print("Angka Umur Invalid")